* {
    box-sizing: border-box; 
    font-family: "Croissant One";
}

main {
    flex-grow: 1;
    padding: 120px 1rem;
}


html, body {
    margin: 0;
    padding: 0;
    /* min-height: 100%; */
}


.logo1 {
    width: 175px;
    height: 175px;
}

.nav ul {
    /* margin: 0;
    padding-right: 40px; */
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    color: #c58b0d;
}

.nav li {
    display: inline-block
    /* justify-content: space-around; */
}

.nav a {
    font-size: xx-large;
    display: inline-block;
    padding: .5em;
    color:  #ffffff;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url("images/fflogos/tours-img.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border: 3px solid black;
    padding: 0;
    z-index: 1;
    opacity: 70%;
}

.main-header,
.main-footer {
    position: fixed;
    padding: 1rem;
    width: 100%;
    max-width: inherit;
}

.main-header{
    top: 0;
}

.main-footer {
    bottom: 0;
}

.main-header2 {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("river-images/placid.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

.main-header3 {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("river-images/placid.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

.body1 {
    background-image: url("https://nature.arizona.edu/sites/snre.arizona.edu/files/Watershed-Management-%26-Ecohydrology_marquee.jpg");
    /* background-color: rgb(0, 0, 0); */
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    flex-grow: 1;
    padding: 125px .02rem;
}
.our-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: rgb(255, 255, 255);
}

/* .our-name-large {
    font-size: 5em;
} */

.content-section1 {
    margin: 1em;
    /* background-color: black; */
    border-radius: 10px;
    /* opacity: 70%; */
}

.container1 {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    /* border: 3px solid black; */
    
}

.container1 {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    min-height: 100%;
    justify-content: center;
}

#sec1 {
    display: flex;
    justify-content: center;
    right: 12px;
    color: rgb(255, 255, 255);
    text-align: center;

} 

.about-image {
    display: flex;
    height: 400px;
    width: 400px;
    text-align: center;
    justify-content: center;
}

.main-footer {
    position: fixed;
    padding: 1rem;
    width: 100%;
    max-width: inherit;
    margin: 0;
} 

.main-footer1{
    background-color: black;
    opacity: 80%;
    width: 100%;
    max-width: inherit;
    bottom: 0px;
    /* padding: 1rem; */
    position: fixed;
    margin: 0;
}

.main-footer2 {
    /* background-color: #c48b1a; */
    color: rgb(133, 100, 10);
    padding: .25em 0;
    width: 100%;
    max-width: inherit;
    bottom: 0px;
}

.main-footer3 {
    /* background-color: #c48b1a; */
    color: rgb(133, 100, 10);
    padding: .25em 0;
    width: 100%;
    max-width: inherit;
}

.main-footer-container {
    background-color: black;
    opacity: 70%;
    border: solid black 5px;
    border-width: 10px;
    border-radius: 10px;
}

.main-footer-container ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

/* .main-footer ul{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
} */
/* .main-footer-container ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
} */

.footer-nav li {
    padding: 0 .5em;
    display: inline-flex;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.main-header,
.main-footer1 {
    position: fixed;
    padding: 1rem;
    width: 100%;
    max-width: inherit;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .47em .47em;
    cursor: pointer;
    bottom: 5px;
}

.btn-primary {
    color: rgb(0, 0, 0);
    background-color: #ffac38;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #c58b0d;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: rgb(0, 0, 0);
    width: 11%;
    font-weight: bold;
}

.tour-days {
    width: 24%;
}

.tour-location {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

#trs {
    text-align: center;
}

.shop-item {
    margin: 30px;
    border:  5px solid black;
    background-color: #c58b0d;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
}

.shop-item-image {
    height: 200px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: rgb(0, 0, 0);
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(0, 0, 0);
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    /* border: 1px solid #56CCF2; */
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    
}

.p1 {
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: 300;
    text-align: justify;
    border: 3px solid black;
    background-color: #c58b0d;
    opacity: 80%;
}

.p2 {
    font-size: x-large;
    font-weight: bolder;
    text-align: justify;
    
}

.p3 {
    font-size: x-large;
    font-weight: bolder;
    text-align: justify;
}

#store1 {
    display: flex;
    justify-content: center;
    right: 9px;
    font-size: xx-large;
    font-weight: bolder;
}

#store2 {
    display: flex;
    justify-content: center;
    right: 9px;
    font-size: xx-large;
    font-weight: bolder;
}

#cart1 {
    display: flex;
    justify-content: center;
    right: 9px;
    font-size: xx-large;
    font-weight: bolder;
}



